body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    transition: color 0.2s;
    text-decoration: none;
    color:burlywood;
}

a:hover{
    color: black;
    text-decoration: underline;
}

.flex-wrapper {
    display:flex;
    justify-content: center;
}

.container {
    margin-top: 3em;
    padding: 13px;

    width: 88.8%;

    background-color: rgb(243 244 246);
}

